.header-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 26%;

}

.header-image-container {
    position: relative;
    border-radius: 20px;
    width: 750px;
    object-fit: contain;
    overflow: hidden;


}

.header-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.header-image-text {

    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    text-align: left;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.9rem;
    z-index: 1;



}

.header-image-text span {

    background: linear-gradient(267deg, #DA7C25 -5%, #B923E1 90.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    line-height: 97px;
}

@media (max-width: 768px) {

    .header-container {
        width: 100%;
        height: 100vh;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .header-image-text {
        font-size: 3.2rem;
        line-height: 50px;
        left: 5%;
        word-break: break-word;
        hyphens: auto;


    }
}