@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100vh;
  /* mindestens 1 Viewport hoch */
  overflow-x: hidden;
  /* Horizontales Scrollen vermeiden */
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  background-color: #161513;
  scroll-behavior: smooth;
}